In [1]:
from urllib.request import urlopen
import certifi
import json
from datetime import datetime

import pandas as pd

In [6]:
API_KEY = "e558vSI8LyRrCGv5TqWJtFTAcMDoVD7c"

FETCH_STOCKS_URL = (
    f"https://financialmodelingprep.com/api/v3/stock-screener?apikey={API_KEY}&"
    f"exchange=nyse,nasdaq&isEtf=false&isFund=false&limit=10000"
)

EARNING_URL = f"https://financialmodelingprep.com/api/v3/earnings-surprises/%s?apikey={API_KEY}"

In [3]:
def get_jsonparsed_data(url):
    response = urlopen(url, cafile=certifi.where())
    data = response.read().decode("utf-8")
    return json.loads(data)

In [4]:
stocks = get_jsonparsed_data(FETCH_STOCKS_URL)
len(stocks)

/var/folders/d9/3tp2f4s97kn5_bdphqnnqfjw0000gn/T/ipykernel_67115/654040892.py:2: DeprecationWarning: cafile, capath and cadefault are deprecated, use a custom context instead.
  response = urlopen(url, cafile=certifi.where())

7754

In [5]:
tickers = list(map(lambda stock: stock["symbol"], stocks))
tickers = sorted(tickers)

In [13]:
metrics = []

for ticker in tickers[:10]:
    try:
        earnings = get_jsonparsed_data(EARNING_URL % ticker)
        for earning in earnings:
            date = datetime.strptime(earning["date"], "%Y-%m-%d")
            metrics.append({
                'symbol' : earning['symbol'],
                'date' : date,
                'year' : date.year,
                'month' : date.month,
                'day' : date.day,
                'actual' : earning['actualEarningResult'],
                'estimated' : earning['estimatedEarning'],
                'earning_rate' : (earning['actualEarningResult'] - earning['estimatedEarning']) / earning['estimatedEarning']
            })
        print(f"======= {ticker} ========")
    except Exception as e:
        print(e)
        None

/var/folders/d9/3tp2f4s97kn5_bdphqnnqfjw0000gn/T/ipykernel_67115/654040892.py:2: DeprecationWarning: cafile, capath and cadefault are deprecated, use a custom context instead.
  response = urlopen(url, cafile=certifi.where())

======= A ========
======= AA ========
======= AAC ========
======= AACG ========
======= AACI ========
======= AACT ========
======= AADI ========
======= AAGR ========
======= AAIC ========
======= AAIN ========

In [14]:
pd.DataFrame(metrics)

    symbol       date  year  month  day  actual  estimated  earning_rate
0        A 2024-08-21  2024      8   21    1.32       1.26      0.047619
1        A 2024-05-29  2024      5   29    1.22       1.19      0.025210
2        A 2024-02-27  2024      2   27    1.29       1.22      0.057377
3        A 2023-11-20  2023     11   20    1.38       1.34      0.029851
4        A 2023-08-15  2023      8   15    1.43       1.37      0.043796
..     ...        ...   ...    ...  ...     ...        ...           ...
254   AAIC 1999-07-21  1999      7   21    2.40       1.33      0.804511
255   AAIC 1999-01-26  1999      1   26   -1.60      -3.33     -0.519520
256   AAIC 1998-10-22  1998     10   22  -14.20     -15.60     -0.089744
257   AAIC 1998-07-22  1998      7   22    3.00       4.47     -0.328859
258   AAIC 1998-04-23  1998      4   23    6.20       5.30      0.169811

[259 rows x 8 columns]